/* bg color: #e4e4e4 
div color: #2a2a2a

font-family: 'Roboto Mono', monospace;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e4e4e4;
    font-family: 'Roboto Mono', monospace;
}

/* HEADER */

/* img header */
.container-header{
    padding: 60px 20px 20px;
    /* position: relative; */
}

.img-header{
    width: 280px;
    text-align: left;
}

.img-header img {
    display: inline;
    max-width: 100%;
    height: auto;
    text-align: left;
}

/* text header */
.paragraph-header{
    text-align: left;
    /* position: absolute; */
    /* max-width: 50%; */
    
}

.paragraph-header h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    /* margin-right: 60px; */
    /* margin-left: -26rem; */
}


/* sister brands section */
.inner-section{
    padding: 20px;
}
/* H3 text */
.heading-tertiary{
    /* box-sizing: border-box; */
    padding: 5px;
    height: auto;
    margin-bottom: 30px;
}

.heading-3{
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

/* basis - col 1 */
.basis-part{
    background-color: #d0d0d0;
}
.container-3-parts{
    padding: 60px;
    text-align: center;
    width: 100%;
    min-height: 550px;
    /* opacity: 0; */
    /* transition: all 0.3s ease-in; */
}

/* .container-3-parts:hover{
    transform: translateY(-20px);
    opacity: 1;
} */

.img-block{
    padding-top: 150px;
    padding-bottom: 15px;
    /* opacity: 1; */
}

.img-block__basis img {
    width: 89px;
    margin-bottom: 10px;
}

.hidden-content {
    /* display: none; */
    visibility: hidden;
}

.container-3-parts:hover .hidden-content{
    display: block;
    cursor: pointer;
    /* transition: transform .3s; */
}

.content-para p{
    overflow-wrap: break-word;
}

span > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

a:hover{
    color: black;
}


/* wondely - col 2 */
.wonderly-part {
    background-color: #fff;
}

.img-block__wonderly img{
    /* width: 200px; */
    height: 30px;
}

/* j studio - col 3 */
.j-studio-part{
    background-color: #2a2a2a;
    color: #fff;
}

.img-block__jstudio img{
    width: 5rem;
}
.jstudio-link a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

       /* .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }  */

