$body-color: #e4e4e4;
$div1-bg-color: #d0d0d0;
$color-white: #fff;
$color-black: #000;
$div3-bg-color: #2a2a2a;
$footer-p-color: #8e8e8e;

$success-color: #2ecc71;
$error-color: #e74c3c;


@mixin paragraph-col($col) {
    overflow-wrap: break-word;
    font-size: 15px;
    color: $col;
}

@mixin col-link($link-col) {
    text-decoration: none;
    color: $link-col;
    font-size: 13px;
}

// @mixin card-background {
//     text-align: center;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
//     width: 100%;
//     min-height: 34.375rem;
// }

@mixin heading-3 {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

@mixin heading-tertiary {
    padding: 5px;
    height: auto;
    margin-bottom: 30px;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-color;
    font-family: 'Roboto Mono', monospace;
}

/* HEADER */

/* img header */
.container-header {
    padding: 60px 20px 20px;
    display: flex;
    justify-content: center;

    .img-header {
        width: 280px;
        text-align: left;
        margin: auto;

        & img {
            display: inline;
            max-width: 100%;
            height: auto;
        }
    }

    /* text header */
    .paragraph-header {
        text-align: left;
        max-width: 80%;
        display: flex;
        justify-content: center;

        h2 {
            font-size: 30px;
            font-weight: 400;
            line-height: 1.4;
        }
    }

}


/* sister brands section */
.inner-section {
    padding: 20px;

    /* H3 text */
    .heading-tertiary {
        /* box-sizing: border-box; */
        padding: 5px;
        height: auto;
        margin-bottom: 30px;

        .heading-3 {
            font-weight: 300;
            font-size: 18px;
            text-align: center;
        }
    }


    .flex-row {
        margin: 10px;

        // kolona 1
        .col-first {
            background-color: $div1-bg-color;
            padding: 30px;

            .kolona {
                height: 430px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                text-align: center;

                .logo {
                    transform: translate3d(0, 0, 0);
                    transition: transform .5s;

                    .img-fluid {
                        height: 110px;

                        img {
                            height: 100%;
                        }
                    }
                }

                .hidden-content {
                    margin: 20px;
                    margin-left: 25px;
                    margin-right: 25px;

                    visibility: hidden;

                    p {
                        @include paragraph-col($color-black);
                    }

                    a {
                        @include col-link($color-black);
                    }
                }
            }

            &:hover {
                cursor: pointer;
            }

            &:hover .logo {
                transform: translate3d(0, -25px, 0);
                transition: transform .3s;
                opacity: 0.7;
            }

            &:hover .hidden-content {
                visibility: visible;
                -webkit-animation-name: slideOutUp;
                animation-name: slideOutUp;
                -webkit-animation-duration: .3s;
                animation-duration: .3s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
        }

        // kolona 2
        .col-second {
            background-color: $color-white;

            .kolona {
                height: 420px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                text-align: center;
                /* padding-top: 120px !important; */

                .logo {
                    transform: translate3d(0, 0, 0);
                    transition: transform .5s;

                    .img-2 {

                        img {
                            width: auto;
                            height: 30px;
                            // margin-top: 25px;
                        }
                    }
                }

                .hidden-content {
                    margin: 20px;
                    margin-left: 25px;
                    margin-right: 25px;

                    visibility: hidden;

                    p {
                        @include paragraph-col($color-black);
                    }

                    a {
                        @include col-link($color-black);
                    }
                }

            }

            &:hover {
                cursor: pointer;
            }

            &:hover .logo {
                transform: translate3d(0, -25px, 0);
                transition: transform .3s;
                opacity: 0.7;
            }

            &:hover .hidden-content {
                visibility: visible;
                -webkit-animation-name: slideOutUp;
                animation-name: slideOutUp;
                -webkit-animation-duration: .3s;
                animation-duration: .3s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
        }

        // kolona 3
        .col-third {
            background-color: $div3-bg-color;
            padding: 30px;

            .kolona {
                height: 430px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                text-align: center;

                .logo {
                    transform: translate3d(0, 0, 0);
                    transition: transform .5s;

                    .img-fluid {
                        height: 110px;

                        img {
                            height: 100%;
                        }
                    }
                }

                .hidden-content {
                    margin: 20px;
                    margin-left: 25px;
                    margin-right: 25px;

                    visibility: hidden;

                    p {
                        @include paragraph-col($color-white);
                    }

                    a {
                        @include col-link($color-white);
                    }
                }
            }

            &:hover {
                cursor: pointer;
            }

            &:hover .logo {
                transform: translate3d(0, -25px, 0);
                transition: transform .3s;
                opacity: 0.7;
            }

            &:hover .hidden-content {
                visibility: visible;
                -webkit-animation-name: slideOutUp;
                animation-name: slideOutUp;
                -webkit-animation-duration: .3s;
                animation-duration: .3s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
        }
    }

}

@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, -20px, 0) scale(1.1);
        transform: translate3d(0, -20px, 0) scale(1.1);
    }
}



.team-section {
    padding: 5rem 0 0 0;
    overflow: hidden;

    .heading-tertiary {
        @include heading-tertiary;

        h3 {
            @include heading-3;
        }
    }

    .container-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        position: relative;
        margin-bottom: -152px;

        .photo-content {
            color: $color-white;
            display: inline-flex;
            padding: 0;

            .img-allie {
                position: relative;
                width: 180px;
                z-index: 2;
                padding-bottom: 5px;
                margin: 0px;

                img {
                    width: 200px;
                    height: auto;
                }

            }

            .content-allie {
                position: relative;
                width: 150px;
                padding-top: 20px;
                margin: auto 0;
                text-align: center;

                h4 {
                    font-size: 18px;
                    font-weight: 400;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 2;
                }
            }


            .img-matt {
                position: relative;
                width: 215px;
                z-index: 10;
                padding-top: 30px;
                padding-bottom: 20px;

                img {
                    width: 250px;
                    height: auto;
                }

            }

            .content-matt {
                position: relative;
                width: 200px;
                z-index: 3;
                padding-top: 10px;
                margin: auto 0;
                text-align: center;

                h4 {
                    font-size: 18px;
                    font-weight: 400;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 2;
                }
            }

            .img-adam {
                position: relative;
                width: 240px;
                z-index: 0;
                padding-bottom: 10px;

                img {
                    width: 250px;
                    height: auto;
                }
            }

            .content-adam {
                position: relative;
                width: 200px;
                padding-top: 20px;
                margin-left: 40px;
                text-align: center;

                h4 {
                    font-size: 18px;
                    font-weight: 400;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 2;
                }

            }

            .img-dayna {
                position: relative;
                width: 200px;
                z-index: 4;
                padding-bottom: 20px;
                margin-right: 0px;

                img {
                    width: 200px;
                    height: auto;
                }
            }

            .content-dayna {
                position: relative;
                width: 200px;
                z-index: 3;
                padding-top: 20px;
                margin: auto 0;
                text-align: center;

                h4 {
                    font-size: 18px;
                    font-weight: 400;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 2;
                }
            }

            .img-ashli {
                position: relative;
                width: 200px;
                z-index: 3;
                margin: -6px;
                padding-bottom: 20px;

                img {
                    width: 210px;
                    height: auto;
                }
            }

            .content-ashli {
                position: relative;
                width: 200px;
                z-index: 3;
                padding-top: 20px;
                margin: auto 0;
                text-align: center;

                h4 {
                    font-size: 18px;
                    font-weight: 400;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 2;
                }
            }
        }
    }




    svg {
        position: relative;
        width: 100%;
        left: 0;
        right: 0;
        height: 250px;
        top: auto;
        z-index: -1;
        transform: scaleX(1) scaleY(-1);
        transform: translatey(-70px);


        rect {
            left: 0;
            right: 0;
        }
    }

}


// Form section
.modify {
    width: 50%;
    display: block;
    margin: auto;

    .form-group{
        &.success input,
        &.success textarea{
                border: 2px solid $success-color;             
            }

        &.success .error-msg{
            visibility: hidden;
        }
        
        &.error input,
        &.error textarea{
            border: 2px solid $error-color;
        }

        &.error .error-msg{
            // display: block;
            visibility: visible;
            font-size: 10px;
            color: $error-color;
        }
        // .validation {
        //     padding-bottom: 20px;
        //     // visibility: hidden;
        //     display: none;
        // }
        .error-msg{
            visibility: hidden;
        }
    }

   
    #myBtn{
        margin: 10px 10px 10px 0;
        border-radius: 4px;
        padding: 3px;
    }
    // the modal
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1000;
        padding-top: 10%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 25px;
            border: 1px solid white;
            width: 40%;
            height: 50%;
            overflow-y: auto;
            overflow-x: hidden;
            box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.4);


            // close  button
            .close {
                color: #aaaaaa;
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-end;
                font-size: 28px;
                font-weight: bold;

                &:hover,
                &:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            h2{
                padding-bottom: 10px;
            }

            .label1 {
                color: blue;
            }

            #myModalBtn {
                width: 15%;
            }

        }

    }

}



// FOOTER
.container-footer {
    padding: 30px 0;
    max-width: 54%;

    .footer-para {
        display: inline;
        text-align: left;

        p {
            font-weight: 300;
            font-size: 20px;
            line-height: 1.4;
            align-self: center;
            width: 100%;

            a {
                color: $div3-bg-color;
            }
        }
    }
}

.container-end {
    padding: 20px 0;

    .footer-c {
        font-size: 13px;
        color: $footer-p-color;
        text-align: right;
        padding: 20px;

        a {
            @include col-link($footer-p-color);
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}


// responsiveness

@media screen and (max-width: 768px) {

    .container-header .img-header {
        width: 200px;
        text-align: left;
        margin: auto;
    }

    .container-header .paragraph-header {
        display: block;
        width: 80%;
        margin: auto;
        text-align: left;

        h2 {
            font-size: 21px !important;
            font-weight: 400;
            line-height: 1.4;
            width: 300px;

        }
    }

    .photo-content {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .inner-section .flex-row .col-first .kolona .hidden-content {
        margin: 20px;
        margin-left: 25px;
        margin-right: 25px;
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .inner-section .flex-row .col-second .kolona .hidden-content {
        margin: 20px;
        margin-left: 25px;
        margin-right: 25px;
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .inner-section .flex-row .col-third .kolona .hidden-content {
        margin: 20px;
        margin-left: 25px;
        margin-right: 25px;
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .inner-section .flex-row .col-second .kolona .logo .img-2 img {
        width: auto;
        height: 24px;
    }

    .photo-content {
        text-align: center;
    }

    .container-row {
        background-color: $div3-bg-color;
    }

    svg {
        visibility: hidden;
    }

}

@media screen and (max-width: 1044px) {
    .photo-content {
        text-align: center;
        display: flex;
    }

    .container-header .paragraph-header {
        h2 {
            font-size: 30px;
            font-weight: 400;
            line-height: 1.4;
            width: 100%;
        }
    }
}